importFrom("stats", "median")
import(parallel,doParallel,foreach,SummarizedExperiment,minfi)
importFrom(MASS,huber)
importFrom(preprocessCore,normalize.quantiles)
importFrom(wateRmelon,BMIQ)
importFrom(sva,ComBat)
importFrom(geneplotter,multidensity)
importFrom(impute,impute.knn)
importFrom("grDevices","dev.off","jpeg")
importFrom("graphics","abline","axis","boxplot","hist","legend",
    "lines","par","plot","polygon","text")
    importFrom("stats","density","dexp","dnorm","lm","na.omit","pf",
    "pnorm","prcomp","quantile","screeplot","sd")

export(preprocessENmix,bmiq.mc,ComBat.mc,
    nmode.mc,normalize.quantile.450k,norm.quantile,plotCtrl,
    QCinfo,QCfilter,pcrplot,freqpoly,multifreqpoly,
    rm.outlier,rcp,oxBS.MLE,ctrlsva,relic,mpreprocess,getBeta,B2M,M2B)

